__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
build/
dist/
*.egg-info/

.vscode/

generated_danmaku_ass/
danmaku_cache/
danmaku2ass/
AssOut/
BiliTmp/

*.ass
*.ssa
*.srt
*.sub
*.xml

local_test.ps1

Thumbs.db
.DS_Store
